#body{
    background-color: royalblue;
    font-family: 'Lexend Deca', sans-serif;
}
div{

    background-color: #255E69;
}
footer{
    background-color: cadetblue;
}
div li{
float: left;
list-style:none ;
}
a{
    margin-left: 30px;
}
#titulo{
    margin-left: 30px;
}
li{
    margin-left: 5px;
}