{% extends 'base.html' %}

{% block principal %}

<h1>EJEMPLARES</h1>
<table border="3px">
        <th>ejempalr</th>
        <th>fecha de compra </th>
        <th>libro</th>
        <th>editar</th>
        <th>borrar</th>


{%for ejemplar in object_list %}
<tr>
<td>{{ejemplar.numeroejemplar}}</td>
<td>{{ejemplar.fechadecompra}}</td>
<td>{{ejemplar.libro}}</td>
<td><a href="{% url 'actualizar_ejemplar' ejemplar.id %} ">editar</a></td>
<td><a href="{% url 'Borrar_ejemplar' ejemplar.id %}">borrar</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}